@font-face {
  font-family: "bocton-serif-right";
  src: url("../fonts/bocton/serif-right.otf"); }
@font-face {
  font-family: "bocton-logo";
  src: url("../fonts/bocton/logo2.otf"); }
@font-face {
  font-family: "bocton-logo-extend";
  src: url("../fonts/bocton/logo-extend.otf"); }
@font-face {
  font-family: "bocton";
  src: url("../fonts/bocton/classique.otf"); }
@font-face {
  font-family: "bocton-condens";
  src: url("../fonts/bocton/ux0.5.otf"); }
@font-face {
  font-family: "bocton-extend";
  src: url("../fonts/bocton/ux1.5.otf"); }
html {
  font-size: 16px; }

body {
  font-family: "bocton-serif-right";
  font-size: 1rem;
  margin: 0;
  padding-bottom: 2rem;
  position: relative; }
  body .residents,
  body .calendar {
    color: #3c3cc8; }
  body header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start; }
    body header h1,
    body header h2 {
      color: #644b0a; }
    body header h1 {
      font-size: 20vw;
      font-weight: normal;
      letter-spacing: -12pt;
      font-family: "bocton-logo";
      margin: 0px;
      position: relative;
      vertical-align: baseline; }
    body header h2 {
      width: 100%;
      text-transform: uppercase;
      color: #644b0a;
      font-size: 2rem;
      text-align: center;
      padding-top: 10vw;
      margin-left: -43vw; }
      body header h2 span.AM {
        font-family: "bocton-condens";
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: 0.25rem;
        color: #3c3cc8; }
      body header h2 span.ED {
        position: relative;
        font-family: "bocton-logo";
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: 0.2rem;
        top: 1.75rem; }
        body header h2 span.ED sup {
          text-transform: lowercase;
          position: relative;
          line-height: .6em;
          font-size: 0.7em;
          vertical-align: top; }
  body ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0; }
  body #year {
    position: absolute;
    display: flex;
    top: 15vw;
    left: 8vw;
    width: 8rem;
    font-size: 2rem;
    text-align: center;
    transform: rotate(-20deg);
    transform-origin: top left; }
    body #year li {
      margin: 3.5rem;
      font-family: 'bocton-serif-right';
      transform: rotate(-90deg); }
      body #year li span {
        background: #644b0a;
        color: white; }
    body #year li:nth-of-type(1),
    body #year li:nth-of-type(3) {
      margin-left: -1rem; }
    body #year li:nth-of-type(2) {
      margin-left: 1rem; }
    body #year li:nth-of-type(4) {
      margin-left: -0.5rem; }
    body #year li:nth-of-type(odd) {
      transform: rotate(10deg); }
    body #year li:nth-of-type(even) {
      transform: rotate(20deg); }
  body .residents {
    font-family: 'bocton';
    padding: 0 0 0 1rem;
    font-size: 1.25rem;
    line-height: 1.2;
    width: 99%;
    overflow: hidden; }
    body .residents li {
      display: inline-flex;
      width: calc(15%);
      padding: 0 0.25rem; }
      body .residents li .inside {
        white-space: nowrap;
        text-align: center; }
    body .residents li.extend {
      font-family: 'bocton-extend'; }
    body .residents li.condens {
      font-family: 'bocton-condens';
      transform: scale(1.5, 1);
      letter-spacing: 2px;
      transform-origin: left; }
  body .description .text {
    transform: rotate(-90deg);
    position: absolute;
    color: #3c3cc8; }
    body .description .text p + p {
      text-indent: 18pt; }
    body .description .text strong {
      font-family: "bocton-extend"; }
  body img.plan {
    position: absolute; }
  body section.left {
    height: 100%;
    position: relative; }
  body #media1 {
    width: calc(20% - 10vw);
    height: auto;
    text-align: center;
    position: absolute;
    top: 0;
    left: 40%; }
    body #media1 li {
      font-size: 1.5rem;
      line-height: 1.2;
      margin: 0;
      font-family: 'bocton-extend'; }
      body #media1 li span {
        color: white;
        background: #3c3cc8;
        padding: 0.5mm 0.5mm; }
  body .info {
    margin-top: 3vw;
    display: flex; }
    body .info .right {
      width: 20%;
      text-align: center; }
      body .info .right .ephemeride {
        color: #3c3cc8;
        margin-top: 2vw;
        text-align: center;
        width: 100%; }
        body .info .right .ephemeride .jour, body .info .right .ephemeride .mois {
          font-family: "bocton-condens";
          line-height: 135%;
          font-size: 4.75rem;
          transform: scale(1, 2);
          letter-spacing: 1vw; }
        body .info .right .ephemeride .nume {
          font-family: "bocton-logo";
          transform: scale(1, 1.8);
          font-size: 12rem;
          text-align: center;
          height: auto;
          padding-top: 2vw;
          color: #644b0a; }
        body .info .right .ephemeride .lieu {
          font-family: "bocton-serif-right";
          position: relative;
          text-transform: uppercase; }
        body .info .right .ephemeride .heure {
          font-size: 2.5rem;
          letter-spacing: 0pt;
          line-height: 1; }
        body .info .right .ephemeride span.verse {
          font-family: "bocton";
          display: block;
          font-size: 2.5rem;
          text-transform: uppercase;
          line-height: 1;
          color: #644b0a; }
        body .info .right .ephemeride .raclette {
          line-height: 1;
          font-size: 2.25rem; }
      body .info .right span.EX {
        color: #644b0a;
        text-transform: uppercase;
        position: relative;
        font-size: 2.5rem; }
    body .info .text {
      width: 60%;
      font-size: 1.75rem;
      color: #3c3cc8;
      padding: 0 3vw; }
      body .info .text p {
        margin: 0; }
      body .info .text p + p {
        text-indent: 2rem; }
      body .info .text strong {
        font-family: "bocton-extend";
        font-weight: normal; }
  body .credit {
    font-size: 16px;
    text-align: left;
    padding: 12px;
    color: #3c3cc8;
    position: absolute;
    bottom: 0; }

@media screen and (max-width: 1200px) {
  html {
    font-size: 12px; }

  body {
    overflow-x: hidden; }
    body .residents li {
      display: inline; }
    body span.EX,
    body span.verse {
      font-size: 2rem; } }
@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
    width: 100%; }
    body header {
      display: block;
      overflow: hidden; }
      body header h1 {
        text-align: center;
        font-size: 15rem;
        margin-top: 0;
        padding-top: 0;
        line-height: 15rem;
        margin-bottom: 2rem; }
      body header h2 {
        margin-left: 0;
        margin-top: -1rem;
        padding-top: 0; }
        body header h2 .AM {
          line-height: 5rem; }
        body header h2 .ED {
          line-height: 5rem;
          display: block;
          top: 0; }
    body #year li span {
      background-color: #3c3cc8; }
    body .info {
      display: block; }
      body .info .right,
      body .info .text {
        width: 95%; }
      body .info iframe {
        width: 90vw; }
      body .info .text {
        margin-top: 3rem;
        font-size: 1.5rem; }
    body #media1 {
      padding-left: 1.5rem;
      position: relative;
      left: 0; }
      body #media1 li span {
        line-height: 2rem; }
      body #media1 li:nth-child(odd) span {
        background-color: #644b0a; } }

/*# sourceMappingURL=main.css.map */
