$color2 : rgb(100,75,10);
$color1 : rgb(60,60,200);

@font-face{
	font-family: "bocton-serif-right";
	src:url("../fonts/bocton/serif-right.otf");
}
@font-face{
	font-family: "bocton-logo";
	src:url("../fonts/bocton/logo2.otf");
}
@font-face{
	font-family: "bocton-logo-extend";
	src:url("../fonts/bocton/logo-extend.otf");
}
@font-face{
	font-family: "bocton";
	src:url("../fonts/bocton/classique.otf");
}
@font-face{
	font-family: "bocton-condens";
	src:url("../fonts/bocton/ux0.5.otf");
}
@font-face{
	font-family: "bocton-extend";
	src:url("../fonts/bocton/ux1.5.otf");
}

html{

	font-size: 16px;
}


body{

	font-family: "bocton-serif-right";
	font-size: 1rem;
	margin: 0;
	padding-bottom: 2rem;
	position: relative;


	.residents,
	.calendar{

		color: $color1;
	}

	header{

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;

		h1,
		h2{

			color: $color2;
		}

		h1{

			font-size: 20vw;
			font-weight: normal;
			letter-spacing: -12pt;
			font-family: "bocton-logo";
			margin: 0px;
			position: relative;
			vertical-align: baseline;
		}


		h2{

			width: 100%;
			text-transform: uppercase;
			color: #644b0a;
			font-size: 2rem;
			text-align: center;
			padding-top: 10vw;
			margin-left: -43vw;

			span.AM{

				font-family: "bocton-condens";
				font-size: 4rem;
				font-weight: 500;
				letter-spacing: 0.25rem; 
				color: $color1;
			}

			span.ED{

				position: relative;
				font-family: "bocton-logo";
				font-size: 4rem;
				font-weight: 500;
				letter-spacing: 0.2rem;
				top: 1.75rem;


				sup {

					text-transform: lowercase;
					position: relative;
					line-height: .6em;
					font-size: 0.7em;
					vertical-align: top;
				}
			}
		}

	}

	ul{

		list-style:none;
		margin-left:0;
		padding-left:0;
	}

	#year{

		position: absolute;
		display: flex;
		top: 15vw;
		left: 8vw;
		width: 8rem;
		font-size: 2rem;
		text-align: center;
		transform: rotate(-20deg);
		transform-origin: top left;	

		li{

			margin: 3.5rem;
			font-family: 'bocton-serif-right';
			transform: rotate(-90deg);

			span{

				background: $color2;
				color: white;
			}
		}

		li:nth-of-type(1),
		li:nth-of-type(3){

			margin-left: -1rem;
		}

		li:nth-of-type(2){

			margin-left: 1rem;
		}

		li:nth-of-type(4){

			margin-left: -0.5rem;
		}

		li:nth-of-type(odd){
			transform: rotate(10deg);
		}

		li:nth-of-type(even){
			transform: rotate(20deg);
		}
	}

	.residents{

		font-family: 'bocton';
		padding: 0 0 0 1rem;
		font-size: 1.25rem;
		line-height: 1.2;
		width: 99%;
		overflow: hidden;

		li{

			display: inline-flex;
			width: calc(15%);
			padding: 0 0.25rem;

			.inside{

				white-space: nowrap;
				text-align: center;
			}
		}

		li.extend{

			font-family: 'bocton-extend';	


		}

		li.condens{

			font-family: 'bocton-condens';
			transform: scale(1.5,1);
			letter-spacing: 2px;
			transform-origin: left;

		}
	}

	.description .text{

		transform: rotate(-90deg);
		position: absolute;
		color: $color1; 

		p + p {
			text-indent: 18pt;
		}

		strong {
			font-family: "bocton-extend";
		}
	}

	img.plan {
		position: absolute;
	}

	section.left {
		height: 100%;
		position: relative;
		// background: green;
	}



	#media1{

		width: calc(20% - 10vw);
		height: auto;
		text-align: center;
		position: absolute;
		top: 0;
		left: 40%;

		li{
			font-size: 1.5rem;
			line-height: 1.2;
			margin: 0;
			font-family: 'bocton-extend';

			span{
				color: white;
				background: $color1;
				padding: 0.5mm 0.5mm;
			}
		}
	}

	.info{

		margin-top: 3vw;
		display: flex;

		.right{

			width: 20%;
			text-align: center;
			.ephemeride{

				color: $color1;
				margin-top: 2vw;
				text-align: center;
				width: 100%;

				.jour, .mois{

					font-family: "bocton-condens";
					line-height: 135%;
					font-size: 4.75rem;
					transform: scale(1,2);
					letter-spacing: 1vw;
				}

				.nume{

					font-family: "bocton-logo";
					transform: scale(1,1.8);
					font-size: 12rem;
					text-align: center;
					height: auto;
					padding-top: 2vw;
					color: $color2;
				}

				.lieu{

					font-family: "bocton-serif-right";
					position: relative;
					text-transform: uppercase;
				}

				.heure{

					font-size: 2.5rem;
					letter-spacing: 0pt;
					line-height: 1;
				}

				span.verse{

					font-family: "bocton";
					display: block;
					font-size: 2.5rem;
					text-transform: uppercase;
					line-height: 1;
					color: $color2;
				}


				.raclette{

					line-height: 1;
					font-size: 2.25rem;
				}

			}


			span.EX{

				color: $color2;
				text-transform: uppercase;
				position: relative;
				font-size: 2.5rem;
			}
		}

		.text{

			width: 60%;
			font-size: 1.75rem;
			color: $color1;
			padding: 0 3vw;

			p {
				margin: 0; 
			}

			p + p {
				text-indent: 2rem;
			}

			strong {
				font-family: "bocton-extend";
				font-weight: normal;
			}
		}

	}

	.credit{

		font-size: 16px;
		text-align: left;
		padding: 12px;
		color: $color1;
		position: absolute;
		bottom: 0;
	}
}

@media screen and (max-width: 1200px){

	html{

		font-size: 12px;
	}

	body{

		overflow-x: hidden;

		.residents{

			li{

				display: inline;

			}
		}

		span.EX,
		span.verse{

			font-size: 2rem;
		}
	}
}

@media screen and (max-width: 900px){

	body{

		overflow-x: hidden;
		width: 100%;
		header{

			display: block;
			overflow: hidden;


			h1{

				text-align: center;
				font-size: 15rem;
				margin-top: 0;
				padding-top: 0;
				line-height: 15rem;
				margin-bottom: 2rem;
			}

			h2{

				margin-left: 0;
				margin-top: -1rem;
				padding-top: 0;

				.AM{

					line-height: 5rem;
				}

				.ED{

					line-height: 5rem;
					display: block;
					top: 0;
				}

			}
		}


		#year{

			li{					


				span{

					background-color: $color1;

				}

			}
		}

		.info{

			display: block;

			.right,
			.text{

				width: 95%;
			}

			iframe{

				width: 90vw;
			}

			.text{

				margin-top: 3rem;
				font-size: 1.5rem;
			}

		}


		#media1{

			padding-left: 1.5rem;
			position: relative;
			left: 0;

			li{

				span{

					line-height: 2rem;
				}
			}

			li:nth-child(odd){

				span{

					background-color: $color2;

				}
			}
		}


	}


}
